name: Lagoon CLI Test

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'

jobs:
  test-suite:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goversion:
        - 1.23
    steps:
    - name: Checkout
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        fetch-depth: "0"
    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: ${{matrix.goversion}}
    - name: Build
      run: |
        go install go.uber.org/mock/mockgen@v0.4.0
        ARTIFACT_DESTINATION=./builds make build
    # - name: Check version
    #   run: |
    #     ./builds/lagoon --version

  docker:
    needs: test-suite
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: "0"
      -
        name: Set tag version for build
        if: "!startsWith(github.ref, 'refs/tags/')"
        id: version_tag_build
        run: |
          VERSION="$(git describe --abbrev=0 --tags)+$(git rev-parse --short=8 HEAD)"
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "tag is $VERSION"
      -
        name: Set tag version for tag
        if: "startsWith(github.ref, 'refs/tags/')"
        id: version_tag
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> "$GITHUB_ENV"
          echo "tag is $VERSION"
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ github.repository_owner }}/lagoon-cli
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      -
        name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: VERSION=${{ env.VERSION}}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
